<launch>
  <node pkg="roomba_500_series"
        type="roomba560_node"
        name="roomba560_node">
  </node>
  <node pkg="cv_camera"
        type="cv_camera_node"
        name="cv_camera" />
  <node pkg="joy"
        type="joy_node"
        name="joy">
    <param name="dev" value="/dev/input/js0" />
  </node>
  <node pkg="roomba_sample"
        type="joy.py"
        name="roomba_joy">
  </node>
</launch>
